html{
    height:100%; 
    background: linear-gradient(#0046ae, #9198e5);
}
div{
    height: 400px;
    width: 270px;
    background: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.66));
    border-radius: 15px;
    box-shadow: 3px 3px rgba(46, 46, 46, 0.7), -3px -3px rgb(46, 46, 46, 0.85) ;
    margin: auto;
    margin-top: 165px;
}
div:hover{
    background: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792))
}
img{
    height: 225px;
    width: 225px;
    margin-left: 22px;
    margin-top: -30px;
    border-radius: 15px;
}
img:hover{
    box-shadow: 4px 4px rgba(46, 46, 46, 0.7), -4px -4px rgb(46, 46, 46, 0.85);
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mp{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}